    <div class="wrapper">
      <header>
        <h1><a href="http://danmalter.github.io"><b>Danny Malter</b></a></h1>
        <p>
        M.S. Candidate in Predictive Analytics at DePaul University.  Currently work as a Data Analyst in Chicago.
        </p>

		<div class="circular">
  		<img src="https://pbs.twimg.com/profile_images/570079399957917696/6HlJvznd.jpeg" alt='breeze' >
		</div>

		</a>
		<p>Me<br>
			<a href="https://github.com/danmalter" target="_blank">GitHub</a><br>
			<a href="https://twitter.com/danmalter" target="_blank">Twitter</a><br>
			<a href="https://www.linkedin.com/in/danmalter" target="_blank">LinkedIn</a><br>
			<a href="mailto:danmalter@gmail.com">Email</a>
		</p>
		<p>Shiny Apps<br>
			<a href="https://danmalter.shinyapps.io/HR-Hitters">Baseball Offensive Statistics</a><br>	
		</p>
		<p>Published Work<br>
			<a href="http://www.ariball.com/">AriBall</a><br>
			<a href="http://rpubs.com/DIM302/">RPubs</a>		
		</p>

      </header>